.not-found {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: parpadeo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.not-found h1 {
    font-size: 4rem;
}

.not-found h2 {
    margin-top: 3rem;
    text-align: center;
}

.not-found a {
    text-decoration: none;
    background-color: #f1f1f1;
    padding: 1rem 1.5rem;
    font-size: 18px;
    font-weight: bold;
    color: #060606;
    margin-top: 30px;
    border-radius: 5px;
}

.not-found a:hover {
    opacity: 0.8;
}
