:root {
    --bg-color: #141414;
    --nav-color: #060606
}

.books-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, 160px);
    margin-top: 1.2rem;
}

.book-card {
    height: 250px;
    background-color: #f1f1f1;
    color: var(--nav-color);
    text-align: center;
    transition: all .3s;
}

.book-card:hover {
    transform: scale(1.1);
}

.book-card img {
    width: 100%;
    height: 100%;
}