:root {
    --bg-color: #141414;
    --nav-color: #060606
}

.genres-container {
    display: flex;
}

.genre {
    padding: 12px 1.5rem;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.genre a {
    text-decoration: none;
    color: #f1f1f1;
}

.genre:hover {
    font-weight: bold;
}

.crear-genero-btn {
    padding: 5px 20px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2rem;
    font-size: 18px;
    position: absolute;
    top: 117px;
    left: 215px;
}

.crear-genero-btn:hover {
    font-weight: bold;
}

.nuevo-genero-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 801;
}

.nuevo-genero-container {
    width: 40%;
    height: 230px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 7rem auto;
    border: 4px solid #E50914;
    padding: 20px;
}

.hide {
    opacity: 0;
    visibility: hidden;
}

.nuevo-genero-container span {
    color: var(--nav-color);
    font-size: 2rem;
}

.nuevo-genero-input {
    width: 90%;
    margin: 20px auto;
    padding: 10px 6px;
    font-size: 2rem;
    border: none;
}

.nuevo-genero-buttons {
    width: 33%;  
    display: flex;
    justify-content: space-between;
}

.nuevo-genero-btn {
    border: none;
    background-color: #E50914;
    color: #f1f1f1;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.nuevo-genero-btn:hover {
    opacity: 0.8;
}