#avatar {
    width: 240px;
    height: 250px;
    background: url('https://avatarfiles.alphacoders.com/203/thumb-1920-203661.jpg') center;
    background-size: cover;
    border: 3px solid #f1f1f1;
    display: inline-block;
}

#avatar img {
    width: 100%;
    background-size: cover;
}

.user-data {
    display: flex;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    font-size: 1.5rem;
}

.user-config-btn {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 7px;
    background-color: #E50914;
    color: #f1f1f1;
    border: none;
    transition: all .3s;
}

.user-config-btn:hover {
    background-color: #f1f1f1;
    color: #E50914;
}