@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-[Montserrat];
  }

  body {
    @apply bg-[#141414] text-[#f1f1f1];
  }

  label {
    @apply mb-2 inline-block font-semibold;
  }

  input {
    @apply mb-3 w-full border-b-2 p-2 font-sans text-xl outline-none focus:border-b-red-400;
  }
}

@layer components {
  .logo {
    @apply font-[Anton] text-2xl tracking-wider text-[#E50914];
  }

  .page-container {
    @apply mx-auto h-[100vh] w-[91%];
  }

  .title {
    @apply mb-6 text-3xl font-semibold;
  }

  .primary-btn {
    @apply f-center bg-[#E50914] px-4 py-3 text-lg font-semibold text-[#f1f1f1] duration-150 hover:bg-[#be2c2c];
  }

  .primary-btn[disabled] {
    @apply opacity-50;
  }

  .secondary-btn {
    @apply f-center bg-[#f1f1f1] px-4 py-3 text-lg font-semibold text-[#141414] duration-150 hover:bg-[#e1e1e1];
  }

  .password-input {
    @apply m-0 w-[95%] bg-transparent focus:border-none border-none;
  }

  .loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}

@layer utilities {
  .img-motion {
    @apply object-cover object-[47%] duration-700 hover:object-center;
  }

  .f-center {
    @apply inline-flex items-center justify-center;
  }
}
